<html>
    <head>
        <script type="text/javascript" src="/static/hello.js"></script>
    </head>
    <body>
        <h1>Hello, world!</h1>
        <button id="awesome_button" >This is an awesome button</button> <br>
        <table align="left">
                <tr>
                    <td>
                        <input type="text" id="submit_text" name="submit_text">
                    </td>
                    <td>  
                        <button id="submit_button">Submit</button>
                    </td>
                </tr>
            </table>
    </body>
</html>